@import "foundation/functions";
@import "normalize";
@import "fonts";
@import "codepot-icons";

$green: #2CB588;
$dark-green: #219B6F;
$light-green: #2BC187;
$orange: #FFC268;
$gray: #484949;
$blue: #406FC1;

$base-font-size: 20px;
$rem-base: $base-font-size;
$row-width: rem-calc(1000);
@import "foundation/components/grid";

$input-font-size: rem-calc($base-font-size);
@import "foundation/components/forms";

$block-grid-default-spacing: rem-calc(16);
@import "foundation/components/block-grid";

.font-oxygen-bold {
  font-family: 'oxygenbold', serif;
  font-weight: bold;
  font-style: normal;
}

.font-source-sans-pro-light {
  font-family: 'source_sans_prolight', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-source-sans-pro-regular {
  font-family: 'source_sans_proregular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-oxygen-bold;
}

h1 {
  font-size: rem-calc(30);
  text-align: center;
}

p, span, a {
  @extend .font-source-sans-pro-light;
}

a {
  color: $blue;
  text-decoration: none;
}

body {
  @extend .font-source-sans-pro-light;
  color: $gray;
  margin-bottom: 2rem;
}

button {
  @extend .font-source-sans-pro-regular;
  color: #ffffff;
  background: $green;
  font-size: rem-calc(18);
  border: none;
  //  border: 1px solid darken($green, 10%);
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $dark-green;
  }
  &:active {
    background-color: darken($dark-green, 10%);
  }

}

header {
  color: white;
  background: $green;
  padding: 2rem 0;
  h1, h2, span {
    text-align: center;
  }
  h1 {
    font-size: rem-calc(60);
    margin: 0;
    line-height: 1.2;
  }
  h2 {
    @extend .font-source-sans-pro-light;
    font-size: rem-calc(35);
    margin: 1rem 0 0 0;
    line-height: 1;
  }
  span {
    display: block;
    font-size: rem-calc(25);
    margin-top: 1rem;
  }
}

section {
  &:last-of-type {
    padding-bottom: 3rem;
  }
  span.tagline {
    font-size: rem-calc(21);
    @extend .font-source-sans-pro-regular;
    display: block;
    text-align: center;
    margin: -1rem 0 2rem 0;
  }
}

section#tutors {
  ul {
    margin-bottom: 2rem;
  }
  .wrapper {
    padding-bottom: 0;
    margin-bottom: -1rem;
    &.even {
      margin-top: 2rem;
    }
    img {
      width: 100%;
    }
    .center-holder {
      background-color: $green;
      .description-wrapper {
        display: inline-block;
        padding: 0.5rem 0.5rem;
        span {
          color: white;
          line-height: 1;
          &.top-line {
            font-size: rem-calc(20);
          }
          &.bottom-line {
            font-size: rem-calc(18);
          }
        }
        hr {
          margin: 0.2rem 0;
          border: solid white;
          border-width: 1px 0 0 0;
        }
      }
    }
  }
}

section#sponsor-us, section#contact, section#subscribe {
  .center {
    text-align: center;
  }
  @media #{$small-only} {
    button, input {
      width: 80%;
    }
  }
  @media #{$medium-up} {
    button, input {
      width: 60%;
    }
  }
}

section#organizers {
  .wrapper {
    .center-holder {
      text-align: center;
      background-color: $green;
      .name-wrapper {
        display: inline-block;
        text-align: center;
        padding: 0.5rem 0;
        span {
          color: white;
          line-height: 1;
          &.first-name {
            font-size: rem-calc(20);
          }
          &.last-name {
            font-size: rem-calc(18);
          }
        }
        hr {
          margin: 0.2rem 0;
          border: solid white;
          border-width: 1px 0 0 0;
        }
      }
    }
  }
}

section#subscribe {
  input {
    display: inline-block;
    text-align: center;
  }
}

section#sponsors h1#sponsors {
  font-family: "oxygenbold";
  font-size: 36px;
  color: #22C486;
  text-decoration: underline;
}
section#sponsors span.tagline {
  font-family: "source_sans_prolight";
  font-size: 24px;
  color: #484949;
}
section#sponsors ul {
  margin-bottom: 2rem; }
section#sponsors .wrapper {
  padding-bottom: 0;
  margin-bottom: -1rem; }
  section#sponsors .wrapper.even {
    margin-top: 1rem; }
  section#sponsors .wrapper div.box{
    position: relative;
    width: 100%;  
  }  
  section#sponsors .wrapper div.box:before{
    content: "";
    display: block;
    padding-top: 100%;  
  }  
  section#sponsors .wrapper div.box div.sponsors{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #F4F4F4;
  }
  section#sponsors .wrapper div.box div.sponsors > a > img{
    margin: 20%;
    width: 60%;
  }
