<section class="ff-container">

	<input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked" />
	<label for="select-type-all" class="ff-label-type-all">All</label>
	
	<input id="select-type-java" name="radio-set-1" type="radio" class="ff-selector-type-java" />
	<label for="select-type-java" class="ff-label-type-java">Java</label>

	<input id="select-type-js" name="radio-set-1" type="radio" class="ff-selector-type-js" />
	<label for="select-type-js" class="ff-label-type-js">JavaScript</label>

	<input id="select-type-py" name="radio-set-1" type="radio" class="ff-selector-type-py" />
	<label for="select-type-py" class="ff-label-type-py">Python</label>

	<input id="select-type-sc" name="radio-set-1" type="radio" class="ff-selector-type-sc" />
	<label for="select-type-sc" class="ff-label-type-sc">Scala</label>

	<input id="select-type-1" name="radio-set-1" type="radio" class="ff-selector-type-1" />
	<label for="select-type-1" class="ff-label-type-1">Web Design</label>
	
	<input id="select-type-2" name="radio-set-1" type="radio" class="ff-selector-type-2" />
	<label for="select-type-2" class="ff-label-type-2">Illustration</label>

	<input id="select-type-4" name="radio-set-1" type="radio" class="ff-selector-type-4" />
	<label for="select-type-4" class="ff-label-type-4">Others</label>
	
	<div class="clr"></div>
	
	<ul class="ff-items">
		<li class="ff-item-type-2">
			<a href="http://dribbble.com/shots/366400-Chameleon">
				<span>Chameleon</span>
				<img src="public/speakers_img/1.jpg" />
			</a>
		</li>
		<li class="ff-item-type-2">			
			<a href="http://dribbble.com/shots/366400-Chameleon">
				<span>
					Java
					<br/>
					<h6>Test Test Test Test</h6>
				</span>
				<img src="public/speakers_img/4.jpg" />
			</a>
		</li>
		<li class="ff-item-type-1">
			<a href="http://dribbble.com/shots/272575-Tutorials-wip-">
				<span>Tutorials (wip)</span>
				<img src="public/speakers_img/2.jpg" />
			</a>
		</li>
		<li class="ff-item-type-1">
			<a href="http://dribbble.com/shots/138484-Symplas-website">
				<span>Symplas website</span>
				<img src="public/speakers_img/7.jpg" />
			</a>
		</li>
		<li class="ff-item-type-1">
			<a href="http://dribbble.com/shots/188524-Event-Planning">
				<span>Event Planning</span>
				<img src="public/speakers_img/5.jpg" />
			</a>
		</li>
		<li class="ff-item-type-2">
			<a href="http://dribbble.com/shots/347197-Cake">
				<span>Cake</span>
				<img src="public/speakers_img/6.jpg" />
			</a>
		</li>
		<li class="ff-item-type-2">
			<a href="http://dribbble.com/shots/372566-Flower">
				<span>Flower</span>
				<img src="public/speakers_img/8.jpg" />
			</a>
		</li>
		<li class="ff-item-type-java">
			<a href="http://dribbble.com/shots/134868-TRON-Mobile-ver-">
				<span>TRON: Mobile version</span>
				<img src="public/speakers_img/10.jpg" />
			</a>
		</li>
		<li class="ff-item-type-1">
			<a href="http://dribbble.com/shots/186199-Tailoring-accessories">
				<span>Tailoring accessories</span>
				<img src="public/speakers_img/1.jpg" />
			</a>
		</li>
		<li class="ff-item-type-3">
			<a href="http://dribbble.com/shots/133859-App-icon">
				<span>App icon</span>
				<img src="public/speakers_img/4.jpg" />
			</a>
		</li>
		<li class="ff-item-type-2">
			<a href="http://dribbble.com/shots/366400-Chameleon">
				<span>Chameleon</span>
				<img src="public/speakers_img/1.jpg" />
			</a>
		</li>
		<li class="ff-item-type-4">			
			<a href="http://dribbble.com/shots/366400-Chameleon">
				<span>
					Java
					<br/>
					<h6>Test</h6>
				</span>
				<img src="public/speakers_img/4.jpg" />
			</a>
		</li>
		<li class="ff-item-type-py">
			<a href="http://dribbble.com/shots/272575-Tutorials-wip-">
				<span>Tutorials (wip)</span>
				<img src="public/speakers_img/2.jpg" />
			</a>
		</li>
		<li class="ff-item-type-sc">
			<a href="http://dribbble.com/shots/138484-Symplas-website">
				<span>Symplas website</span>
				<img src="public/speakers_img/7.jpg" />
			</a>
		</li>
		<li class="ff-item-type-js">
			<a href="http://dribbble.com/shots/188524-Event-Planning">
				<span>Event Planning</span>
				<img src="public/speakers_img/5.jpg" />
			</a>
		</li>
	</ul>
</section>