@import url('reset.css');
/* General Demo Style */
body{
    background:#f9f9f9 url(../images/ricepaper2.jpg) repeat top left;
	color: #333;
	font-family: Georgia, serif;
	font-size: 13px;
}
.container{
	position:relative;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.wrapper{
	position:relative;
	padding-top: 50px;
}
/* Header Style */
.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
