.ff-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
}
.ff-container label.ff-label-type-all{
	border-radius: 3px 0px 0px 3px;
}
.ff-container label.ff-label-type-3{
	border-radius: 0px 3px 3px 0px;
}
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3,
.ff-container input.ff-selector-type-4:checked ~ label.ff-label-type-4,
.ff-container input.ff-selector-type-java:checked ~ label.ff-label-type-java,
.ff-container input.ff-selector-type-py:checked ~ label.ff-label-type-py,
.ff-container input.ff-selector-type-sc:checked ~ label.ff-label-type-sc,
.ff-container input.ff-selector-type-js:checked ~ label.ff-label-type-py,{
	color: #2CB588;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
.ff-container input{
	display: none;
}
.ff-items{
	position: relative;
	margin: 0px auto;
	padding-top: 20px;
}

.ff-items a{
	display: block;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 2px;
	width: 145px;
	height: 120px;
	overflow: hidden;
}
.ff-items a span{
	display: block;
	background: rgba(44,181,67, 0.9);
	font-style: italic;
	color: #fff;
	font-weight: bold;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	width: 145px;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
	text-shadow: 1px 1px 1px #303857;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ff-items a:hover span{
	height: 80px;
	opacity: 1;
}
.ff-items li img{
	display: block;
}

.ff-items li{
	margin: 0px;
	float: left;
	-webkit-transition: opacity 0.6s ease-in-out;
	-moz-transition: opacity 0.6s ease-in-out;
	-o-transition: opacity 0.6s ease-in-out;
	-ms-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;
}
.ff-container input.ff-selector-type-all:checked ~ .ff-items li,
.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3,
.ff-container input.ff-selector-type-java:checked ~ .ff-items .ff-item-type-java,
.ff-container input.ff-selector-type-sc:checked ~ .ff-items .ff-item-type-sc,
.ff-container input.ff-selector-type-py:checked ~ .ff-items .ff-item-type-py,
.ff-container input.ff-selector-type-js:checked ~ .ff-items .ff-item-type-js,
.ff-container input.ff-selector-type-4:checked ~ .ff-label-type-4{
	opacity: 1;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3),
.ff-container input.ff-selector-type-java:checked ~ .ff-items li:not(.ff-item-type-java),
.ff-container input.ff-selector-type-js:checked ~ .ff-items li:not(.ff-item-type-js),
.ff-container input.ff-selector-type-sc:checked ~ .ff-items li:not(.ff-item-type-sc),
.ff-container input.ff-selector-type-py:checked ~ .ff-items li:not(.ff-item-type-py),
.ff-container input.ff-selector-type-4:checked ~ .ff-items li:not(.ff-item-type-4){
	opacity: 0.1;
}
}
.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span,
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span,
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span.
.ff-container input.ff-selector-type-java:checked ~ .ff-items li:not(.ff-item-type-java) span.
.ff-container input.ff-selector-type-sc:checked ~ .ff-items li:not(.ff-item-type-sc) span.
.ff-container input.ff-selector-type-js:checked ~ .ff-items li:not(.ff-item-type-js) span.
.ff-container input.ff-selector-type-py:checked ~ .ff-items li:not(.ff-item-type-py) span.
.ff-container input.ff-selector-type-4:checked ~ .ff-items li:not(.ff-item-type-4) span{
	display:none;
}